@keyframes captchaInputA {
    0% {background-color: #80808000;}
    100% { background-color: #80808050; }
}

#container {
    height: 100000px; 
    display: grid; 
    margin: 25px;
    grid-template-columns: 1fr auto;
}

#container #p1 {
    align-self: self-end; 
    text-align: left;
    color: #fff;
}

#container #p2 {
    align-self: self-end; 
    text-align: right;
    color: #ffffff30;
}

#p2::after{
    content: "UURBNUo2Y1k=";
}

#captcha {
    margin: 0 auto; 
    width: 500px;
    height: 240px;

    margin-top: 8%;

    border: 2px solid #5a5a5a;
    border-radius: 10px;

    display: grid;
    gap: 20px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;

    background-color: #5a5a5a;
    
    justify-content: center;
}

#catpchaTop {
    font-family: Consolas, 'Microsoft YaHei', 'PingFang SC', 'Noto Sans CJK SC', sans-serif;
    font-size: 50px;
    text-align: center;

    padding: 1%;

}

#captchaBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#imgCaptcha {
    padding: 5%;
}

#captchaText {
    padding: 5%;
}

#captchaInput {
    background-color: #4a4a4a;
    border: 1px #000 solid;
}

#captchaInput:hover {
    animation: captchaInputA 1s ease forwards;
}

#captchaBottom form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

#submitBtn {
    width: 100px;;

    background-color: #4a4a4a;
    border: 1px #000 solid;
}