@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

::-webkit-scrollbar {
    display: none;
}

* {
    color: #fff;
    font-family: "Fira Code", monospace;
    font-weight: 500;
}

body {
    margin: 0 !important;
    background-color: #343434;
}

#qaz {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#top {
    height: 80px;
    background-color: #181818;
    align-content: center;
    
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#logo {
    padding-left: 1%;
    display: inline-block;
}

#contact {
    padding-right: 1%;
    float: right;
}

#mainPage {
    padding-right: 1%;
    float: right;
}

#btnContact {
    text-decoration: none;
}

#btnContact:hover {
    color: #bfbfbf;
}

#btnMainPage {
    text-decoration: none;
}

#btnMainPage:hover {
    color: #bfbfbf;
}